<!DOCTYPE html>
<html lang="en" class="has-navbar-fixed-top">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <script defer src="./script.js"></script>
    <title>Home</title>
    
</head>
<!-- Home page can be simple with pic of mysself and a short intro for myself -->
<body class="has-navbar-fixed-top">
     <nav class="navbar is-fixed-top is-info has-shadow" role="navigation" aria-label="main navigation">
        <!-- <div class="nav-brand navbar-start "> -->
            <!-- <div class="navbar-start"> -->
                <!-- <img id="key" class="navbar-item" src="./images/Kingdom_Key_KHIII.png" alt="Kingdom Key"> -->
                <!-- <h1 class="title is-inline">Welcome!</h1> -->
                <!-- <a role="button" class="navbar-burger navbar-end" style="position:fixed;" aria-label="menu" aria-expanded="false">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a> -->
            <!-- </div>
        </div> -->
        <div class="navbar-menu">
            <div class="navbar-end">
                <a class="navlinks navbar-item" href="./index.html">Home</a>
                <a class="navlinks navbar-item" href="#bio">Bio</a>
                <a class="navlinks navbar-item" href="#projects">Projects</a>
            </div>
        </div>
    </nav>
<img src="../../images/IMG_0125.PNG">
 
    <!-- Animate pic to come in from left and paragraphs to fizzle in after -->
    <section id="intro" class="has-text-info">
        <h1 class="title">Hi, I'm Caprice Ebanks!</h1>
        <p>I'm a trainee full-stack web developer based in London. </p>
        <p id="stack">HTML/CSS JS NODE React </p>
        
        <img id="selfie" src="./images/IMG_0125 3.jpg" alt="Caprice Ebanks">
    </section> 

    
</body>
</html>
