h2 {
  color: white;
}

.link {
  color: white;
  text-decoration: none;
}

.link:hover{
  color: lightpink;
}

.active{
  color: lightpink;
}

.links {
  color: lightpink
}

/* Nav.Link:hover {
  background-color: red;
} */
