#intro {
  margin: 150px 0 0 70px;
  /* padding-left: 70px; */
  display: flex;
  justify-content: space-between;
  color:white;
}
#stack {
  margin-top: 10px;
}

#selfie {
  border-radius: 50%;
  border: white;
  height: 400px;
  width: 400px;
  float: right;
  margin-top: 10px;
  margin-right: 100px;
}

